/****************************************************/
/* Theme colors:    #edf3fc for background
                    #3f3f3f for text
                    #0080FF for highlighted text    */
/****************************************************/

/****************************************************/
/* Layout Properties: Applies to the entire webpage */
/****************************************************/
html {
	background-color: #edf3fc;
}

body {
	margin: 0;
}

/****************************************************/
/* Text Properties: Sets the properties of the text */
/****************************************************/
a, p, h1, h2, h3, h4, h5, h6, nav {
	color: #3f3f3f;
    font-weight: normal;
}

a, p, nav, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Cardo', serif; /* Headers are different font */
	font-size: 4em;
}

p {
    font-size: 1.5em; /* Makes paragraph text slightly larger (more readable) */
}

a {
	text-decoration: none;
	-webkit-transition-duration: 0.4s; /*For Safari users*/
    transition-duration: 0.4s;
}

a:hover {
    color: #0080FF; /* Links slowly transition to blue on hover */
}

a.email {
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /*For Safari users*/
    transition-duration: 0.4s;
    color: #0080FF;
}

a.email:hover {
    color: darkgray; /* Just for email, link transitions from blue to dark gray */
}


/*****************************************************/
/* Div Properties: Sets properties for specific divs */
/*****************************************************/
/* FILL PAGE: spans the entire screen */
/* (Should use if there is roughly enough content to fill one screen) */
/* (For example, probably wouldn't look great on Portfolio page) */
div.fill-page {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    clear: both;
    margin-left: 15%;
    margin-right: 15%;
}

/* CENTER PAGE: centers content within container (usually fill-page div) */
div.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    display: block;
}

/****************************************************************/
/* Miscellaneous Properties: Sets properties for other elements */
/****************************************************************/
#menu { /* Keep the nav bar on top fixed */
    position:fixed;
    top: 0em;
    width: 100%;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0));
    z-index: 9999;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Used for adding a bar above the current page on the navbar */
span.on-page {
    text-decoration: overline solid #3f3f3f;
}

/* Just for fun, make images lighter on hover */
img:hover {
    -webkit-transition-duration: 0.4s; /*For Safari users*/
    transition-duration: 0.4s;
    opacity: 0.8;
}