/* Layout Properties */
html {
	/*background-color: white;*/
	background-image: url("../images/lmao.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

body {
	margin: 0;
}

/* Text Properties */
a, p, h1, h2, h3, h4, h5, h6, nav {
	font-family: 'Roboto', sans-serif;
	color: #3f3f3f;
}

h1 {
	font-size: 4em;
}

p {
    font-size: 1.5em;
}

a {
	text-decoration: none;
	-webkit-transition-duration: 0.4s; /*For Safari users*/
    transition-duration: 0.4s;
}

a:hover {
	color: #0080FF;
}


/* Div Properties */
div.fill-page {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    clear:both;
}

div.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    display: block;
}

div.about-me {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

span.on-page {
	text-decoration: overline solid #3f3f3f;
}

/* Miscellaneous Properties */
#menu {
    position:fixed;
    top: 0em;
    width: 100%;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0));
    z-index: 9999;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

img.with-border {
	border: 0.5em solid #3f3f3f;
}